@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import 'material-icons/iconfont/material-icons.css';

body {
  direction: rtl;
  background-color: #07716e;
  margin: 0;
  font-family: 'Secular One', sans-serif;
}